In [1]:
import pandas as pd
import numpy as np

In [2]:
adj = pd.read_csv('Adjectives_masterfile (4).csv', sep=';')
adj

    Nr  Liste  Valenz  Subliste  Subnumber         Adjektiv AdjerlaubteZeichen
0    1      1      -1         1          1    pessimistisch      pessimistisch
1    2      1      -1         1          2        behindert          behindert
2    3      1      -1         1          3       deformiert         deformiert
3    4      1      -1         1          4         schlecht           schlecht
4    5      1      -1         1          5          asozial            asozial
..  ..    ...     ...       ...        ...              ...                ...
85  86      2       0         3         41  unkonventionell    unkonventionell
86  87      2       0         3         42         religiös          religioes
87  88      2       0         3         43           heftig             heftig
88  89      2       0         3         44       unbeirrbar         unbeirrbar
89  90      2       0         3         45  opportunistisch    opportunistisch

[90 rows x 7 columns]

In [3]:
ans = pd.read_csv('Tabelle1-Table 1.csv', sep=';')
ans

,NoInt,Nosub,VPCode,LVSubj,Group,Age,Gen,Droput_b4recog,VPAnm,Time,...,E36,E37,E38,E39,E40,E41,E42,E43,E44,E45
0,1,413,aren1964,81283,5,24,m,1.0,NaN,113048,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,405,STAR0462,80940,6,33,f,1.0,NaN,53644,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,351,Jäar2939,79476,4,52,f,1.0,NaN,20351,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,408,ROTH2457,81003,1,54,f,1.0,NaN,215174,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,232,LURD3062,78700,3,20,f,1.0,NaN,217925,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,165,397,MAFI1610,80618,4,21,m,NaN,NaN,57429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,166,401,ACEK2589,80893,6,23,f,NaN,NaN,63729,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,167,432,buan1066,84393,2,32,m,1.0,NaN,6839,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,168,433,wirt1451,84554,2,43,f,NaN,NaN,235288,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,169,411,HAAS0464,81227,2,22,f,NaN,NaN,65528,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
lenght = 0
for i in range(len(ans)):
        if len(ans.iloc[i,:])> lenght:
            lenght = len(ans.iloc[i,:])
lenght

57

In [5]:
adjgroup1 = [1,2,3]
adjgroup2 = [4,5,6]

In [6]:
# COMPUTING right answer for each participants 
numRightAns = []

for i, x in ans.iterrows():
    rightAns = 0
    if x['Group'] == 1 or x['Group'] == 2 or x['Group'] == 3:
        for j in range(12, 57):
            if x.iloc[j] in list(adj['Adjektiv'][:45]) or x.iloc[j] in list(adj['AdjerlaubteZeichen'][:45]):
#                 print('here')
                rightAns += 1

    elif x['Group'] == 4 or x['Group'] == 5 or x['Group'] == 6:
        for j in range(11, 57):
            if x.iloc[j] in list(adj['Adjektiv'][45:]) or x.iloc[j] in list(adj['AdjerlaubteZeichen'][45:]):
                rightAns += 1
    numRightAns.append(rightAns)
ans['number of correct answer'] = numRightAns

In [8]:
# recall(True positive rate) computing
ans['Doppelt'] = ans['Doppelt'].fillna(0)
ans['correct Recall rate']  = (numRightAns - ans['Doppelt']) / (ans['NRec'] - ans['Doppelt'])
ans['correct Recall rate'] = ans['correct Recall rate'].fillna(0)

# False positive rate
ans['False recall rate'] = (ans['NRec'] - numRightAns - ans['Doppelt']) / (ans['NRec'] - ans['Doppelt'])
ans['False recall rate'] = ans['False recall rate'].fillna(0)
ans.iloc[:,10:]

,NRec,Doppelt,E1,E2,E3,E4,E5,E6,E7,E8,...,E39,E40,E41,E42,E43,E44,E45,number of correct answer,correct Recall rate,False recall rate
0,12.0,0.0,opportunistisch,wundervoll,emotional,eigenwillig,lieblos,herzlos,brilliant,intelligent,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,1.000000,0.000000
1,7.0,0.0,intelligent,opportunistisch,religioes,fromm,liebevoll,heftig,geliebt,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6,0.857143,0.142857
2,1.0,0.0,opportunistisch,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1.000000,0.000000
3,8.0,0.0,kurz,introvertiert,hoffnungsvoll,pessimistisch,schuechtern,klug,unsympathisch,zaertlich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1.000000,0.000000
4,14.0,0.0,simpel,kurz,schuechtern,still,ruhig,pessimistisch,witzig,klein,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13,0.928571,0.071429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,8.0,0.0,fromm,opportunistisch,wuetend,geliebt,unsicher,religioes,stolz,leidenschaftlich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1.000000,0.000000
165,8.0,0.0,unbeirrbar,herzlos,talentiert,religioes,fromm,geliebt,leidend,eigenwillig,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1.000000,0.000000
166,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.000000,0.000000
167,12.0,0.0,klug,schuechtern,still,zuverlaessig,haesslich,mutig,intellektuell,unfreundlich,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11,0.916667,0.083333
168,8.0,0.0,schuechtern,klein,entstellt,mutig,gut,simpel,intellektuell,zahm,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8,1.000000,0.000000

In [9]:
# COMPUTING recall and FPR based on tense and group 
# numRightAns = []
numPresentRecal = []
numPastRecal = []
numOtherRecal = []

for i, x in ans.iterrows():
    presentRightAns = 0
    pastRightAns = 0
    otherRightAns = 0

##group of 1 & 4

    if x['Group'] == 1 or x['Group'] == 4:
        if x['Group'] == 1:
            for j in range(12, 57):
                if x.iloc[j] in list(adj['Adjektiv'][:15]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][:15]):
                    presentRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][15:30]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][15:30]):
                    pastRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][30:45]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][30:45]):
                    otherRightAns += 1
        elif x['Group'] == 4:
            for j in range(12, 57):
                if x.iloc[j] in list(adj['Adjektiv'][45:60]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][45:60]):
                    presentRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][60:75]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][60:75]):
                    pastRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][75:]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][75:]):
                    otherRightAns += 1
                    
#group of 3 & 6

    elif x['Group'] == 3 or x['Group'] == 6:
        if x['Group'] == 3:
            for j in range(12, 57):
                if x.iloc[j] in list(adj['Adjektiv'][:15]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][:15]):
                    pastRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][15:30]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][15:30]):
                    otherRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][30:45]) or x.iloc[j] in \
                list(adj['AdjerlaubteZeichen'][30:45]):
                    presentRightAns += 1
        elif x['Group'] == 6:
            for j in range(12, 57):
                if x.iloc[j] in list(adj['Adjektiv'][45:60]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][45:60]):
                    pastRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][60:75]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][60:75]):
                    otherRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][75:]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][75:]):
                    presentRightAns += 1


#group of 2 & 5

    elif x['Group'] == 2 or x['Group'] == 5:
        if x['Group'] == 2:
            for j in range(12, 57):
                if x.iloc[j] in list(adj['Adjektiv'][:15]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][:15]):
                    otherRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][15:30]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][15:30]):
                    presentRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][30:45]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][30:45]):
                    pastRightAns += 1
        elif x['Group'] == 5:
            for j in range(12, 57):
                if x.iloc[j] in list(adj['Adjektiv'][45:60]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][45:60]):
                    otherRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][60:75]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][60:75]):
                    presentRightAns += 1
                elif x.iloc[j] in list(adj['Adjektiv'][75:]) or x.iloc[j] in\
                list(adj['AdjerlaubteZeichen'][75:]):
                    pastRightAns += 1

    numPresentRecal.append(presentRightAns)
    numPastRecal.append(pastRightAns)
    numOtherRecal.append(otherRightAns)

# ans['num Present Recall'], ans['num Past Recall'], ans['num Other Recall'] = numPresentRecal,\
# numPastRecal, numOtherRecal
ans['Present Recall rate'], ans['Past Recall rate'], ans['Other Recall rate'] = \
[z/15 for z in numPresentRecal], [z/15 for z in numPastRecal], [z/15 for z in numOtherRecal]

ans['Present FPR'], ans['Past FPR'], ans['Other FPR'] = \
1 - ans['Present Recall rate'], 1 - ans['Past Recall rate'], 1 - ans['Other Recall rate']

In [11]:
ans.iloc[:,57:]

,number of correct answer,correct Recall rate,False recall rate,num Present Recall,num Past Recall,num Other Recall,num Present FPR,num Past FPR,num Other FPR
0,12,1.000000,0.000000,0.133333,0.333333,0.333333,0.866667,0.666667,0.666667
1,6,0.857143,0.142857,0.200000,0.066667,0.133333,0.800000,0.933333,0.866667
2,1,1.000000,0.000000,0.000000,0.000000,0.066667,1.000000,1.000000,0.933333
3,8,1.000000,0.000000,0.133333,0.066667,0.333333,0.866667,0.933333,0.666667
4,13,0.928571,0.071429,0.400000,0.066667,0.400000,0.600000,0.933333,0.600000
...,...,...,...,...,...,...,...,...,...
164,8,1.000000,0.000000,0.066667,0.200000,0.266667,0.933333,0.800000,0.733333
165,8,1.000000,0.000000,0.266667,0.133333,0.133333,0.733333,0.866667,0.866667
166,0,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000
167,11,0.916667,0.083333,0.333333,0.333333,0.066667,0.666667,0.666667,0.933333
168,8,1.000000,0.000000,0.266667,0.200000,0.066667,0.733333,0.800000,0.933333

In [ ]:
ans.to_csv('Data Analysis.csv', index=False)

# Longest Common Subsequence

In [ ]:
# def lcs(X, Y):
#     # find the length of the strings
#     m = len(X)
#     n = len(Y)
  
#     # declaring the array for storing the dp values
#     L = [[None]*(n + 1) for i in range(m + 1)]
  
#     """Following steps build L[m + 1][n + 1] in bottom up fashion
#     Note: L[i][j] contains length of LCS of X[0..i-1]
#     and Y[0..j-1]"""
#     for i in range(m + 1):
#         for j in range(n + 1):
#             if i == 0 or j == 0 :
#                 L[i][j] = 0
#             elif X[i-1] == Y[j-1]:
#                 L[i][j] = L[i-1][j-1]+1
#             else:
#                 L[i][j] = max(L[i-1][j], L[i][j-1])
  
#     # L[m][n] contains the length of LCS of X[0..n-1] & Y[0..m-1]
#     return L[m][n]
# # end of function lcs
  
# # Driver program to test the above function
# X = "AGGTAB"
# Y = "GXTXAYB"
# print("Length of LCS is ", lcs(X, Y))

In [ ]:
# 1-15 16-30 31-45
# Gr1+4 Pres Pas Oth
# Gr2+5 Oth Pre Pas
# Gr3+6 Pas Oth Pres